* {
    box-sizing: border-box;
}

.block-modal-test {
    width: 250px;
    height: 340px;
    border: 1px solid firebrick;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

.form-slider {
    width: 500px;
    height: 340px;
    background-color: aqua;
    transition: all ease 1s;
}

.left-50 {
    width: 50%;
    float: left;
    background-color: aquamarine;
}

.right-50 {
    width: 50%;
    background-color: blue;
    float: left;
    max-height: 340px;
    overflow-y: scroll;
}

.start {
    cursor: pointer;
}

.back {
    cursor: pointer;
}