* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.elastic li.hide {
    display: none;
}

